<div class="preloader">
  
    <div class="preloader__wrap">
        <div class="preloader__symbol">
            <div class="preloader__box">
                <div class="preloader__clip"></div>
            </div>
        </div>
        <div class="preloader__progress">
            <div class="preloader__num">62 %</div>
        </div>
    </div>
	
    {% svg '104/preloader' %}
</div>