<div class="innovation">
	<div class="innovation__wrapper container">
		<div class="innovation__left" data-fade-in-up>
			{% if innovation.title  %}
				<h2>{{ innovation.title  }}</h2>
			{% endif %}
		</div>
		<div class="innovation__right" data-fade-in-up>
			{% if innovation.tabs_content %}
				{% for item in innovation.tabs_content %}
					<div class="block-info__pane{{ item.active ? ' is-active' }}">
						{% if item.cards %}
							<div class="block-info__cards">
								{% for card in item.cards %}
									<div class="block-info__card">
										<div class="block-info__row">
											<div class="block-info__factoid">
												{% view '^factoid' with {
                                                    factoid: card
                                                }%}
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
