.block-innovation {
    $root: &;
    background-color: $color-green;
    h2, .h2{
        color: $color-white;
    }
    &__wrapper {	
		@include media-breakpoint-up(sm) {
			padding-top: rem(64);
			padding-bottom: rem(64);
			display: flex;	
			flex-direction: column;
		}

		@include media-breakpoint-up(md) {
			padding-top: rem(112);
			padding-bottom: rem(120);
			display: flex;	
			flex-direction: column;
		}

		@include media-breakpoint-up(lg) {
			display: flex;		
			width: 100%;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-between;
			padding-top: rem(112);
			padding-bottom: rem(116);					
		}
       
	}

    &__left {		
		width: 100;
		@include media-breakpoint-up(lg) {
			width: 50%;	
        }
	}
	&__right {
		width: 100%;
		margin-top: rem(48);
		@include media-breakpoint-up(md) {
			margin-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			margin-top: rem(8);
			width: 50%;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;		
		border-top: 1px solid rgba($color-white, .6);
		&:last-of-type{
			border-bottom: 1px solid rgba($color-white, .6);
		}
		@include media-breakpoint-down(md) {
			padding-top: rem(34);
			&:last-of-type{
				padding-bottom: rem(34);
			}
			&:not(:last-child){
				margin-bottom: rem(34);
			}
		}	
		@include media-breakpoint-down(lg) {
			padding-top: rem(32);
			&:last-of-type{
				padding-bottom: rem(40);
			}
			&:not(:last-child){
				margin-bottom: rem(40);
			}
		}	

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			border: none;
			padding-right: 0;
			padding-top: 0;
		}

		
	}

	&__factoid {
		position: relative;
		width: 50%;
		color: $color-white;
		@include media-breakpoint-down(md) {
			max-width: initial;
			width: 100%;
			/*padding-top: rem(24);*/
		}

		@include media-breakpoint-down(sm) {
			padding-top: rem(24);
		}

		&:not(:last-child){
			@include media-breakpoint-down(sm) {
				
				margin-bottom: rem(31);
			}
		}

		&-border {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: rem(8);
			height: 1px;
			background-color: rgba($color-white, .6);
			transform-origin: left;
			transition: transform 1s ease 5s,
			background .5s ease;
			transform: scaleX(1);

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		.factoid__label {
			color: rgba($color-white, .6);
			@include media-breakpoint-down(md) {
				max-width: rem(240);
			}
		}
	}
}