.modal-director {
	$root: &;   
	
	width: 100%;
	height: 100vh;
	background-color: $color-white;

	&__wrapper {
		display: flex;
		height: 100%;
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}

	&__left {
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}

	&__img {
		width: 100%;
		margin-bottom: rem(48);   
		@include media-breakpoint-up(md) {
			margin-bottom: rem(80); 			
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(0); 			
		}
	}


	&__right {		
		width: 100%;
		margin: 0;
		@include media-breakpoint-up(md) {			
			margin: 0 rem(108);
		}
		@include media-breakpoint-up(lg) {
			width: 50%;
			margin: 0;
			padding: rem(112) rem(52) 0 rem(112);
		}
	}

	&__title{
		margin-bottom: rem(8);
		padding: rem(0) rem(16) 0 rem(39);
		@include media-breakpoint-up(md) {
			padding: 0;
		}
	}

	&__subtitle{
		color: rgba($color-black, 0.4);
		@include text-body;
		margin-bottom: rem(24);
		padding: rem(0) rem(16) 0 rem(39);
		@include media-breakpoint-up(md) {
			padding: 0;
			margin-bottom: rem(32);
		}
	}

	&__text{	
		ul{					
			margin-right: rem(8);
			max-width: 100%;
			padding-left: rem(40);
			@include media-breakpoint-up(md) {
				padding-left: 0;
				max-width: rem(552);
			}
			li{
				position: relative;
				margin-bottom: rem(16);
				@include media-breakpoint-up(md) {
					margin-bottom: rem(26);
				}
				&::before{
					position: absolute;
					top: rem(10);
					left: rem(-24);
					display: block;
					width: 8px;
					height: 8px;
					background-color: #00d372;
					border-radius: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					content: '';
				}
			}
		}
	}
	.ps__rail-y {
		right: rem(8);
}

	&.scroll {
		&::after {
			background: $color-white;
		}
	}

	&.ios-scroll {
		&::after {
			height: rem(100);
		}
	}
}
