<div class="sustain">
	<div class="sustain__img">
		{% view '@image-adaptive' with {
            image: img
        } %}
	</div>

	<div class="sustain__container ">

		{% view '&block-icons' %}

		{% view '&block-innovation' %}


		<div class="sustain__initiatives container">
			<div class="sustain__wrapper">
				<div class="sustain__left" data-fade-in-up>
					{% if initiatives.title  %}
						<h2>{{ initiatives.title  }}</h2>
					{% endif %}
				</div>
				<div class="sustain__right" data-fade-in-up>
					{% if initiatives.description %}
						{{ initiatives.description  }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% view '&slider-press' with {
        slider_press: slider
    } %}

	<div class="sustain__docs container">
		<div class="sustain__wrapper">
			<div class="sustain__left" data-fade-in-up>
				{% if block_docs.title  %}
					<h2>{{ block_docs.title  }}</h2>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="mb-lg-120 mb-md-80 mb-80">
		{% view '&block-docs' with {
			block_docs: block_docs
		} %}
	</div>
