.tab {
	$root: &;

	display: block;
	min-height: rem(22);
	padding: 0;
	color: rgba($color-black, 0.4);
	background-color: transparent;
	border: 0;
	cursor: pointer;
	@include defaultTransition(color);

	@include touchLessHover {
		&:not(:disabled):not(#{$root}__tab--disabled) {
			color: $color-black;
		}
	}

	&:before {
		position: absolute;
		top: 3px;
		left: rem(-32);
		width: rem(0);
		height: rem(0);
		background-color: $color-green;
		border-radius: 50%;
		transform: scale3d(0, 0, 0);
		transition: transform 0.4s ease, margin-right 0.4s ease;
		content: '';
		will-change: margin-right;

		@include media-breakpoint-down(md) {
			position: static;
			flex-shrink: 0;
		}
	}

	&--active {
		position: relative;
		color: $color-black;
		cursor: default;

		&::before {
			width: rem(16);
			height: rem(16);
			transform: scale3d(1, 1, 1);

			@include media-breakpoint-down(md) {
				margin-right: rem(16);
			}
		}

		@include media-breakpoint-down(md) {
			display: inline-flex;
			align-items: center;
		}
	}

	&:disabled,
	&--disabled {
		color: rgba($color-black, 0.2);
		cursor: not-allowed;
	}

	&--big {
		display: flex;
		background-color: white;
		@include defaultTransition(background-color);
		
		flex-direction: column;

		@include media-breakpoint-up(sm) {
			min-width: rem(240);
			min-height: rem(194);
			align-items: flex-start;
			padding: 32px 41px;
		}

		@include media-breakpoint-up(md) {
			min-width: rem(332);
			min-height: rem(268);
			padding: rem(40) rem(52);	
		}

		@include media-breakpoint-up(lg) {
			border-radius: 0 rem(8) 0 0;
			min-width: initial;
		}
		
		&#{$root} {
			&--active {
				background-color: $color-green;

				#{$root}__icon {
					.icon {
						path {
							fill: white;
						}

						.svg-line {
							fill:$color-black;
						}
					}
				}

				#{$root}__text {
					color: white;
				}
			}
			
			&:hover {
				background-color: $color-green;

				#{$root}__icon {
					.icon {
						path {
							fill: white;
						}

						.svg-line {
							fill:$color-black;
						}
					}
				}

				#{$root}__text {
					color: white;
				}
			}
		}

		#{$root} {
			&__icon {
				.icon {
					@include media-breakpoint-up(sm) {
						width: rem(72);
						height: rem(72);
					}
			
					@include media-breakpoint-up(md) {
						width: rem(104);
						height: rem(104);
					}

					path {
						fill: $color-green;
						@include defaultTransition(fill);
					}

					.svg-line {
						fill:$color-black;
					}
				}

				@include media-breakpoint-up(md) {
					margin-bottom: rem(40);
				}
		
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(62);
				}
			}

			&__text {
				text-align: left;
				color: rgba($color-black, 1);
				margin-top: auto;


				@include media-breakpoint-up(sm) {
					max-width: rem(150);
				}
		
				@include media-breakpoint-up(lg) {
					max-width: initial;
				}
			}
		}

		&:before {
			content: none;
		}

		span {
			display: block;
		}
	}
}
