.tab {
	$root: &;

	display: block;
	min-height: rem(22);
	padding: 0;
	color: rgba($color-black, 0.4);
	background-color: transparent;
	border: 0;
	cursor: pointer;
	@include defaultTransition(color);

	@include touchLessHover {
		&:not(:disabled):not(#{$root}__tab--disabled) {
			color: $color-black;
		}
	}

	&:before {
		position: absolute;
		top: 3px;
		left: rem(-32);
		width: rem(0);
		height: rem(0);
		background-color: $color-green;
		border-radius: 50%;
		transform: scale3d(0, 0, 0);
		transition: transform 0.4s ease, margin-right 0.4s ease;
		content: '';
		will-change: margin-right;

		@include media-breakpoint-down(md) {
			position: static;
			flex-shrink: 0;
		}
	}

	&--active {
		position: relative;
		color: $color-black;
		cursor: default;

		&::before {
			width: rem(16);
			height: rem(16);
			transform: scale3d(1, 1, 1);
			@include media-breakpoint-down(md) {
				margin-right: rem(16);
			}
		}

		@include media-breakpoint-down(md) {
			display: inline-flex;
			align-items: center;
		}
	}

	&:disabled,
	&--disabled {
		color: rgba($color-black, 0.2);
		cursor: not-allowed;
	}

	&--big {
		@include defaultTransition(background-color);
		
		&#{$root} {
			&--active {
				background-color: $color-green;
			}
			
			&:hover {
				background-color: $color-green;
			}
		}

		#{$root} {
			&__icon {
				.icon {
					width: rem(104);
					height: rem(104);

					path {
						stroke: red;
					}
				}
			}
		}

		&:before {
			content: none;
		}

		span {
			display: block;
		}
	}
}
