<a class="card-partner" href="#" {% if card.attr %}{{ card.attr }}{% endif %}>
    {% if card.icon  %}
        <div class="card-partner__logo">
                {% view '@icon' with {
                    icon: card.icon
                } %}
        </div>
    {% endif %}
</a>