<div class="modal-person">
    <div class="modal-person__inner">
        {% if modal.title %}
            <div class="modal-person__title">
                {{ modal.title }}
            </div>
        {% endif %}
        {% if modal.form %}
            
        {% endif %}
    </div>
</div>