.card-contacts {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;

	&__map {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		margin: auto;
	}

	&__content {
		flex: 1;
		padding-left: rem(112);

		@include media-breakpoint-up(sm) {
			padding-top: rem(99);
			padding-left: 0;
		}

		@include media-breakpoint-up(lg) {
			padding-top: 0;
			padding-left: rem(112);
		}
	}

	&__phone {
		display: block;
		margin-bottom: rem(64);
		color: $color-black;
		font-weight: 600;
		font-size: rem(88);
		line-height: 1.2;
		@include defaultTransition(color);

		@include media-breakpoint-up(md) {
			font-size: rem(64);
		}

		@include media-breakpoint-up(lg) {
			font-size: rem(88);
		}

		@include touchLessHover {
			color: $color-green;
		}
	}

	&__title {
		margin-bottom: rem(101);

		@include media-breakpoint-up(md) {
			position: absolute;
			top: rem(-127);
		}

		@include media-breakpoint-up(lg) {
			position: relative;
			top: auto;
		}
	}

	&__box {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		width: 100%;
		max-width: rem(450);
	}

	&__email {
		color: $color-black;
		font-weight: 500;
		font-size: rem(24);
		line-height: rem(24);
		@include defaultTransition(color);

		@include touchLessHover {
			color: rgba($color-green, 1);
		}
	}
}
