<div class="block-history">
    <div class="block-history__container">
        <div class="block-history__inner">
            <div class="block-history__aside">
                <div class="block-history__period">
                    {% view '&slider-period' with {
                        slider: block_history.slider
                    } %}
                    <div class="block-history__progress">
                    </div>
                </div>
            </div>
            <div class="block-history__content">
                <div class="block-history__pin" data-pin-section>
                   
                </div>
            </div>
        </div>
    </div>
</div>