.textarea-shell {
	position: relative;
}

.textarea {
	@include base-input;
	min-height: rem(61);
	line-height: rem(40);

	@include media-breakpoint-down(sm) {
		min-height: rem(56);
		line-height: rem(35);
	}
}
