.textarea-shell {
	position: relative;
}

.textarea {
	display: block;
	width: 100%;
	height: rem(55);
	min-height: rem(55);
	max-height: rem(240);
	padding: rem(12) 0;
	color: rgba($color-black, 0.4);
	font-size: rem(24);
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba($color-black, 0.2);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: vertical;
	@include defaultTransition(border-color);

	&:not(:disabled) {
		@include touchLessHover {
			border-color: $color-black;
		}
	}

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: rgba($color-black, 0.4);
		opacity: 1;
	}

	&:disabled {
		color: rgba(black, 0.5);
		background-color: rgba(128, 128, 128, 0);
		cursor: not-allowed;
	}

	&--white {
		color: rgba($color-white, 0.6);
		border-color: rgba($color-white, 0.6);

		&::placeholder {
			color: rgba($color-white, 0.6);
		}

		&:disabled {
			color: rgba($color-white, 0.2);
			background-color: transparent;
			border-color: rgba($color-white, 0.2);
		}

		&:not(:disabled) {
			@include touchLessHover {
				border-color: rgba($color-white, 1);
			}
		}
	}
}
