.block-forinvestors-docs {
	$root: &;
	&__wrapper {		
		display: flex;
		@include media-breakpoint-up(sm) {
			flex-wrap: wrap;
		}
		@include media-breakpoint-up(md) {
			flex-wrap: wrap;
		}	
		@include media-breakpoint-up(lg) {

			flex-wrap: nowrap;
		}
		
	}	
	&__left {	
		@include media-breakpoint-up(sm) {
			width: 100%;
			margin-bottom: rem(48);
		}		
		@include media-breakpoint-up(md) {
			width: rem(257);
			margin-bottom: rem(48);
		}
		@include media-breakpoint-up(lg) {
			width: rem(257);
			margin-right: rem(191);
		}
	}
	&__right {			
		@include media-breakpoint-up(sm) {
		}

		@include media-breakpoint-up(md) {
			width: 100%;

		}

		@include media-breakpoint-up(lg) {	
			width: rem(888);
			display: flex;
			justify-content: space-between;
		}
	}

	&__item{
		@include media-breakpoint-up(sm) {
		}
		@include media-breakpoint-up(md) {					
			width:100%;
			margin-top: rem(8);
			&:not(:last-child){
				margin-right: 0;
			}
		}	
		@include media-breakpoint-up(lg) {	
			width:50%;
			margin-top: 0;
			&:not(:last-child){
				margin-right: rem(8);
			}
		}
	}

}