.card-user {
    position: sticky;
    top: 0;

    @include media-breakpoint-up(sm) {
        height: rem(300);
        padding-left: rem(16);
        padding-right: rem(16);
        padding-top: rem(30);
        padding-bottom: rem(23);
    }

    @include media-breakpoint-up(md) {
        padding-right: rem(56);
	    padding-left: rem(56);
        padding-top: rem(56);
        padding-bottom: rem(54);
        height: rem(588);
    }

    @include media-breakpoint-up(lg) {
        padding-right: rem(40);
	    padding-left: rem(40);
        
    }

	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: auto;
			background-color: $color-gray-2;
			background-image: url('/tmp/card-user/unknown.png');
			background-repeat: no-repeat;
			background-position: center bottom;
			content: '';

            @include media-breakpoint-up(sm) {
                background-size: rem(176) auto;
            }

            @include media-breakpoint-up(md) {
                background-size: rem(390) auto;
            }
		}

		img {
			width: 100%;
			width: 100%;
			height: 100%;
			height: 100%;
			object-fit: cover;
			object-fit: cover;
			background-size: cover;
			background-size: cover;
		}
	}

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        z-index: 1;
        position: relative;
    }

    &-head {
        $b: &;

        #{$b}__name {
            font-weight: 500;
            font-size: rem(16);
        }

        #{$b}__status {
            color: rgba($color-black, 0.4);
        }
    }
    &-bottom {
        $b: &; 
        
        #{$b}__alt {
            font-weight: 500;
            font-size: rem(16); 
            text-align: center;
        }
    }
}
