.modal-career {
	height: 100vh;
	min-height: rem(800);
	background-color: $color-green;

	&__wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 80px 164px 5rem 104px;
		overflow: scroll;
	}

	&__form {
		flex: 1;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__action {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}

	&__steps {
		width: 100%;
		min-height: auto;
		background-color: gray;
	}

	&__content {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	&__tab {
		display: flex;
		flex: 1;
		flex-direction: column;
		//border: 1px solid;
	}

	&__title {
		margin-bottom: rem(46);
		color: $color-white;
	}


	.progress-step{
		background: $color-white;
		width: 0%;
		height: 1px;
		position: absolute;
		bottom: 0;
		@include defaultTransition(width);

	}


	// .select2-results__options .select2-results__option--selected:before {
// 	background-color: transparent !important;
// }

// .select2-results__option.multiselect-option.select2-results__option--selected:after {
// 	top: rem(19);
// }

// .select2-results__option.multiselect-option.select2-results__option--selected:before, .select2-results__option.multiselect-option.select2-results__option--highlighted::before {
// 	border-color: rgba($color-black, 1.0);
// }

// .select.select.something-selected ~ .select2-container .select2-selection__rendered {
// 	color: $color-white;
// }

// .select2-results__btn:before {
// 	border-color: rgba($color-black, 1.0);
//     border-radius: 0;
// }

// .select2-results__btn.is-selected:before {
//     border-color: rgba($color-black, 1.0);
//     border-radius: 0;
// }
	
}
