.modal-career {
	height: 100vh;
	min-height: rem(800);
	background-color: $color-green;

	&__wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 80px 164px 5rem 104px;
		overflow: scroll;

		@include media-breakpoint-down(md) {
			padding: rem(80) rem(108) rem(80) rem(108);
		}

		@include media-breakpoint-down(sm) {
			padding: rem(64) rem(16) rem(64);
		}
	}

	&__form {
		flex: 1;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__action {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}

	&__steps {
		width: 100%;
		min-height: auto;
		background-color: gray;
	}

	&__content {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	&__tab {
		display: flex;
		flex: 1;
		flex-direction: column;
		//border: 1px solid;
	}

	&__title {
		margin-bottom: rem(46);
		color: $color-white;
	}


	.progress-step{
		background: $color-white;
		width: 0%;
		height: 1px;
		position: absolute;
		bottom: 0;
		@include defaultTransition(width);

	}


	
	
}
