<div class="block-directors container">

	<div class="block-directors__heading">
		<p class="block-directors__title h2" data-fade-in-up>{{ block_directors.title }}</p>
		<p class="block-directors__subtitle" data-fade-in-up>{{ block_directors.subtitle }}</p>
	</div>


	<div class="block-directors__items">
		{% for item in block_directors.items %}
			<div class="block-directors__item" data-fade-in-up data-delay="{{ (0.2 + loop.index0 / 5)|round(2, 'floor') }}">
				{% view '^card-directors' with {
						card: item|merge({
							delay: (0.2 + loop.index0 / 5)|round(2, 'floor')
						})
					} %}
			</div>
		{% endfor %}
	</div>
</div>
