$color-white: #fff;
$color-black: #000;
$color-green: #00d372;
$color-gray: #f5f5f5;
$color-gray-2: #e0e0e0;
$color-purple: #ce00f8;

$colors: (
	'white': $color-white,
	'black': $color-black,
	'green': $color-green,
	'gray': $color-gray,
	'purple': $color-purple,
);
