{% extends "layouts::_page.twig" %}

{% block content %}

	<!--<editor-fold desc="Icons">-->

	<div class="py-24">
		<div class="container">
			<p class="h2 mb-24">Icons</p>


			...
		</div>
	</div>

	<!--</editor-fold>-->

{% endblock %}
