{% extends "layouts::_page.twig" %}

{% block content %}
	{% if pageHeading %}
		<h1 class="visually-hidden">{{ pageHeading }}</h1>
	{% endif %}

	{% view '&main-hero' with {
		hero: hero
	} %}

	{% view '&block-info' %}

	{% view '&block-appeal' %}

	{% view '&map' %}

{% endblock %}
