{% extends "layouts::_page.twig" %}

{% block content %}

	<div class="pt-lg-124 pt-md-104 pt-80 pb-lg-160 pb-md-104 pb-80">
		<div class="wrap-pl-1 wrap-pr-1">
		</div>
	</div>

    
	{% view '&block-benefit' %}

{% endblock %}
