{% extends "layouts::_page.twig" %}

{% block content %}
	<!--<editor-fold desc="page styles">-->
	<style>
		.card-list-molecules {
			display: flex;
			flex-wrap: wrap;
		}

		.card-list-molecules__item {
			width: 100%;
		}

		@media (min-width: 990px) {
			.card-list-molecules__item {
				width: 33.3333%;
			}
		}

		@media (max-width: 989px) and (min-width: 640px) {
			.card-list-molecules__item {
				width: 50%;
			}

			.card-list-molecules.card-list-molecules--md-50 .card-list-molecules__item {
				width: 100%;
			}
		}
	</style>
	<!--</editor-fold>-->

	<!--<editor-fold desc="card-formula">-->
	<div class="pt-112 mb-112">
		<div class="container">
			<div class="card-list-molecules card-list-molecules--md-50">
				<div class="card-list-molecules__item">
					{% view '^card-formula' with {
						card: cardFormula
					} %}
				</div>
			</div>
		</div>
	</div>
	<!--</editor-fold>-->

	<!--<editor-fold desc="card-basket">-->
	<div class="pt-112 mb-112">
		<div class="container">
			{% view '^card-basket' %}
		</div>
	</div>
	<!--</editor-fold>-->

	<!--<editor-fold desc="card-basket">-->
	<div class="pt-112 mb-112">
		<div class="container">
			{% view '^amount-changer' %}
		</div>
	</div>
	<!--</editor-fold>-->
{% endblock %}
