{% extends "layouts::_page.twig" %}

{% block content %}
	<div class="pt-128">
		<div class="py-24 bg-gray container">
			<div class="my-56">
				{% view '&list-features' %}
			</div>
		</div>
	</div>
{% endblock %}
