.block-inform {
	&__container {
		padding-top: rem(113);
		padding-bottom: rem(119);

		@include media-breakpoint-down(sm) {
			padding-top: rem(65);
			padding-bottom: rem(65);
		}
	}

	&__title,
	&__desc,
	&__note {
		color: $color-white;
	}

	&__line {
		@include title-offset;

		&:nth-child(1) {
			@include media-breakpoint-down(md) {
				padding-right: 0;
				padding-left: 0;
				text-align: right;
			}

			@include media-breakpoint-down(sm) {
				text-align: left;
			}
		}

		&:nth-child(2) {
			padding-right: 11%;

			@include media-breakpoint-down(md) {
				padding-right: 0;
			}
		}

		span {
			color: $color-green;
		}
	}

	&__left {
		width: 16%;
		margin-right: 33.333%;

		@include media-breakpoint-down(md) {
			width: 25%;
			margin-right: 16%;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			margin-right: 0;
			margin-bottom: rem(32);
		}
	}

	&__right {
		width: 50%;
		padding-top: rem(50);
		padding-right: 7%;

		@include media-breakpoint-down(md) {
			width: 58%;
			padding-top: rem(6);
			padding-right: 0%;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			padding-top: 0;
			padding-right: 0%;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;

		@include media-breakpoint-down(sm) {
			display: block;
		}
	}

	&__top {
		margin-bottom: rem(47);
	}

	&__icon {
		@at-root .animate {
			path {
				animation: dash 2.5s ease 0.5s forwards;
				stroke-dasharray: 280;
				stroke-dashoffset: 280;
			}
		}
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
