.form {
	$root: &;

	&--mob-layout {
		.form {

			&__container {
				display: block;
			}

			&__info {
				width: 100%;
				margin-bottom: rem(24);
			}

			&__title,
			&__text {
				max-width: none;
			}

			&__content {
				width: 100%;
				padding-right: 0;
			}

			&__field {
				width: 100%;
			}
		}
	}

	&__tex-upload {
		display: inline-block;
    	margin-right: rem(5);
	}

	&__container {
		
		@include media-breakpoint-up(sm) {
			padding-top: rem(65);
			padding-bottom: rem(65);
		}

		@include media-breakpoint-up(md) {
			padding-top: rem(113);
			padding-bottom: rem(120);
		}

		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
            padding-top: rem(112);
            padding-bottom: rem(120);
		}

		#{$root}--layout-3 & { 
			padding: 0;
			flex-direction: column;
		}
	}

	&__info {
		width: 50%;

		@include media-breakpoint-down(md) {
			width: 100%;
		}
		@include media-breakpoint-only(md) {
			margin-bottom: rem(65);
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(34);
		}

		#{$root}.is-sent & {
			display: none;
		}

		#{$root}--layout-3 & { 
			width: 100%;
			margin-bottom: rem(80);

			@include media-breakpoint-down(sm) {
				margin-bottom: rem(32);
			}
		}
	}

	&__title {
        color: $color-white;

		&:not(:last-child) {
			margin-bottom: rem(16);
		}

		max-width: rem(414);


		@include media-breakpoint-down(md) {
			max-width: initial;
		}

		#{$root}--layout-3 & { 
			max-width: initial;
		}
	}

	&__text {
		color: rgba($color-black, 0.5);

		@include media-breakpoint-up(md) {
			max-width: rem(240);
		}
	}

	&__content {
		width: 50%;

		@include media-breakpoint-down(md) {
			width: 100%;
		}

		#{$root}.is-sent & {
			display: none;
		}

		#{$root}--layout-3 & { 
			width: 100%;
		}
	}

	&__fields {
		@include media-breakpoint-up(lg) {
			margin-left: rem(-20);
			margin-right: rem(-20);
		}
		@include media-breakpoint-only(md) {
			margin-left: rem(-4);
			margin-right: rem(-4);
		}
	}

	&__field {
		@include media-breakpoint-up(lg) {
			padding-left: rem(20);
			padding-right: rem(20);
		}
		@include media-breakpoint-up(md) {
			&:not(:last-child) {
				margin-bottom: rem(28);
			}
		}
		@include media-breakpoint-only(md) {
			padding-left: rem(4);
			padding-right: rem(4);
		}
		@include media-breakpoint-down(sm) {
			&:not(:last-child) {
				margin-bottom: rem(26);
			}
		}

		&--fit {
			width: 100%;
		}
	}

	&__agreement {
		margin-top: rem(41);

		@include media-breakpoint-up(md) {
			margin-top: rem(41);
		}
	}

	&__submit {
		margin-top: rem(48);

		@include media-breakpoint-up(sm) {
			margin-top: rem(38);
		}

		@include media-breakpoint-up(md) {
			margin-top: rem(48);
		}
	}

	&__answer {
		display: none;
		max-width: rem(400);
		width: 100%;
		margin-right: auto;
		color: $color-white;

		#{$root}.is-sent & {
			display: block;
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}

	&__answer-title {
		margin-bottom: rem(45);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(45);
		}
	}

	&__answer-message {
		margin-bottom: rem(16);
		max-width: rem(220);
	}

	&__answer-caption {
		color: rgba($color-black, 0.5);
		max-width: rem(240);
	}

	&--layout {
		&-2 {
			.checkbox__text {
				max-width: rem(545);
			}
		}
	}

	&--white {
		
	}

	&__upload-file {
		.button {
			font-size: rem(16);
			margin: 0;
			padding-right: rem(24);
		}
	}
	
}

.file-wrapper {
	display: flex;
	flex-direction: row;
	padding-top: rem(8);
	padding-bottom: rem(16);

	.icon {
		min-width: rem(24);
	}

	&__text {
		display: flex;
		flex-direction: column;
		margin-left: rem(16);
		margin-right: auto;
	}

	&__name,
	&__info {
		@include text-body;
		word-break: break-all;
	}

	&__info {
		opacity: 0.5;
	}

	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(24);
		height: rem(24);
		z-index: 2;
		padding: 0;
		margin: 0;
		border: none;
		background-color: transparent;
		@include defaultTransition(background-color, color);
	}
}