.menu {
	$root: &;
	
	position: fixed;
	display: none;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	transition: .3s;

	@include media-breakpoint-down(md) {
		display: block;
	}

	&__container {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-white;
		//transform: translateX(-100%);
		padding-top: rem(102);

		@include media-breakpoint-down(sm) {
			padding-top: rem(78);
		}
	}

	&__content {
		position: relative;
		padding: rem(80) rem(54) rem(130);
		height: calc(100vh - #{rem(80)});
		overflow-y: auto;

		@include media-breakpoint-only(md) {
			padding: rem(48) rem(54) rem(48);
		}

		@include media-breakpoint-down(sm) {
			padding: 0 rem(16) rem(8) rem(24);
		}
	}

	&__links {
		margin-top: rem(24);
		margin-left: rem(-32);

		@include media-breakpoint-up(md) {
			display: none;
		}

		.link-action__text {
			@include h4;
			font-weight: 600;
		}

		.link-action .icon {
			margin-right: rem(8);
		}
	}

	&__link {
		position: relative;
		display: flex;
        align-items: center;
        justify-content: space-between;
		color: $color-black;
		background-color: transparent;
		border: 0;
		padding: 0;
		cursor: pointer;
		@include defaultTransition(color);
        padding-bottom: rem(35);
        padding-top: rem(30);
        width: 100%;

		@include media-breakpoint-down(md) {
			padding: rem(24) 0;
		}


		@include touchLessHover {
			//color: $color-red;
		}

		&--active {
			cursor: default;
			//color: $color-red;
		}

		#{$root}__sublist & {
			//font-family: $ff-title;
			font-weight: 500;
			font-size: rem(24);
			line-height: rem(29);
			padding: rem(17) 0;

			@include media-breakpoint-down(sm) {
				padding: rem(12) 0;
			}

			&:after {
				content: none;
			}

			@include media-breakpoint-down(sm) {
				font-size: rem(16);
				line-height: rem(19);
			}
		}

		&--has-sublist {
			position: relative;
			padding-right: rem(12);

			.icon {
				position: absolute;
				top: calc(50% - #{rem(10)});
				right: rem(-4);
				@include defaultTransition(transform);
			}
		}

		#{$root}__item.active &--has-sublist {
			//color: $color-red;

			.icon {
				transform: rotate(180deg);
			}
		}

		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			background-color: rgba($color-black, 0.1);
			bottom: 0;
			right: 0;
			left: 0;
		}
	}

	&__roll {
		background-color: $color-white;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		transform: translateX(-100%);
		z-index: 1;
		height: 100vh;
		transition: .3s;

		padding-top: rem(102);

		@include media-breakpoint-down(md) {
			padding-top: rem(78);
		}

		&.is-active {
			transform: translateX(0%);
		}
	}

	&__wrapper {
		padding: rem(111) rem(48) rem(51);

		@include media-breakpoint-down(sm) {
			padding: rem(32) rem(16) rem(32);
		}
	}

	&__txt {
		position: relative;
		display: inline-flex;
		width: 100%;
		font-weight: 500;
		line-height: 30px;
		/* height: 100%; */
		color: $color-black;
	}

	&__back {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
		border: none;
		padding-bottom: rem(30);

		@include media-breakpoint-down(sm) {
			padding-bottom: rem(16);
		}

		.icon {
			transform: scale(-1, 1);
			margin-right: rem(33);
		}

		&:after {
			position: absolute;
			content: "";
			background-color: black;
			height: 1px;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			margin: auto;
		}
	}

	&__sublist {
		position: relative;
		padding: rem(15) rem(60) rem(32);
		overflow: scroll;
		height: calc(100vh - #{rem(230)});

		@include media-breakpoint-down(sm) {
			padding: rem(16) rem(16) rem(16) rem(56);
		}
	}

	&.is-active {
		transform: none;
	}
}
