.filter-select {
	display: flex;
	width: 25%;

	@include media-breakpoint-down(md) {
		width: 50%;
		transform: translateY(#{rem(-7)});
	}

	@include media-breakpoint-down(sm) {
		width: 100%;
	}

	&--fill {
		width: 100%;

		@include media-breakpoint-down(md) {
			justify-content: space-between;
		}
	}
}
