<div class="filter-select {% if filter_select.fill %}filter-select--fill{% endif %}" data-fade-in-up>
    {% for field in filter_select.fields %}
        <div class="filter-select__field">
            {% view '@field' with {
                field: field
            } %}
        </div>
    {% endfor %}
</div>