.tabs {
	$root: &;

	&__item {
		width: auto;

		&:not(:last-child) {
			@include media-breakpoint-down(md) {
				margin-right: rem(4);
			}

			@include media-breakpoint-up(lg) {
				margin-bottom: rem(24);
			}
		}
	}

	.tab {
		@include media-breakpoint-up(lg) {
			max-width: rem(216);
		}
	}

	.swiper-container {
		overflow: visible;
		//@include media-breakpoint-down(sm) {
		//	padding-left: rem(16);
		//	padding-right: rem(32);
		//}
	}

	.swiper-wrapper {
		@include media-breakpoint-up(lg){
			display: flex;
			flex-direction: column;
		}
	}

	&--layout {
		&-2 {
			.swiper-wrapper {
				
				@include media-breakpoint-up(md) {
					transform: none !important;
				}
			}

			#{$root}{
				&__item {
					margin-right: 0 !important;
					margin-bottom: 0;

					&:first-child {
						.tab {
							@include media-breakpoint-up(sm) {
								border-radius: rem(8) 0 0 rem(8);
							}
							@include media-breakpoint-up(lg) {
								border-radius: 0 rem(8) 0 0;
							}
						}
					}
			
					&:last-child {
						.tab {
							@include media-breakpoint-up(sm) {
								border-radius: 0 rem(8) rem(8) 0;
							}
							@include media-breakpoint-up(lg) {
								border-radius: 0 rem(8) 0 0;
							}
						}
					}

					&:not(:first-child):not(:last-child) {
						border-bottom: 1px solid rgba($color-black, 0.1);
					}
				}
			}

			.tab {
				max-width: initial;
				width: 100%;
			}
		}
	}
}
