<div class="card-msg">
    {% if card.icon  %}
        <div class="card-msg__icon">
            {% view '@icon' with {
                icon: card.icon
            } %}
        </div>
    {% endif %}
    {% if card.title  %}
        <div class="card-msg__title">
            {{ card.title }}
        </div>
    {% endif %}

    <div class="read-more">
        <div class="read-more__text">
            <div class="read-more__base">
                Artel Electronics была основана в 2011 году, и мы являемся одним из ведущих производителей на рынке бытовой электротехники и сохраняем хорошую репутацию в Узбекистане и во всем мире.
            </div>
            <div class="read-more__hidden" data-text-hidden>
               Artel Electronics была основана в 2011 году, и мы являемся одним из ведущих производителей на рынке бытовой электротехники и сохраняем хорошую репутацию в Узбекистане и во всем мире.
            </div>
        </div>
        <button class="link" data-text-btn>Читать далее</button>
    </div>
</div>