<div class="hero-default{% if hero_default.no_overlay %} hero-default--no-overlay{% endif %}
{% if hero_default.no_title %}hero-default--no-title{% endif %}">
    {% if hero_default.image %}
        <div class="hero-default__bg">
            {% if hero_default.image.tab or hero_default.image.mob %}
                {% view '@image-adaptive' with {
                        image: hero_default.image
                } %}
            {% else %}
                {% view '@image' with {
                    image: hero_default.image
                } %}
            {% endif %}
        </div>
    {% endif %}
    <div class="hero-default__container container">
        {% if hero_default.title %}
            <h1 class="hero-default__title h1" data-fade-in-up>
                {{ hero_default.title }}
            </h1>
        {% endif %}
    </div>
    {% if hero_default.btn_play %}
        {% view '@button-play' with {
            button: {
                "attr": 'data-modal-video="modal-video-1"'
            }
        } %}
    {% endif %}
</div>
